body {
  font-family: Arial, sans-serif;
  background-color: #d8d4d4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #000000;
  margin-top: 50px;
  font-size: 24px;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 14px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #555;
}

#transactions {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.transaction {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.transaction span {
  font-weight: bold;
  font-size: 14px;
}

#balance {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}